h1{
    text-align: center;
    font-weight: bold;
    text-decoration: red line-through;
    letter-spacing:5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    line-height: normal;
}



