<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is home page</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo illo necessitatibus reprehenderit dignissimos iure molestiae quod, porro assumenda, at, velit nisi fugiat itaque provident recusandae. Molestias alias soluta veritatis temporibus.</p>
        <button>Click me</button>
</body>
</html>